.color58,
.menu-icon2 {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-icon2 {
  width: 96px;
  height: 1000px;
  object-fit: cover;
}
.color58 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colors-white-100);
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: 0.17%;
  line-height: 15px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 8.76%;
}
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 17.7%;
}
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 26.63%;
}
.div19,
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 35.65%;
}
.div20,
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 44.59%;
}
.div21,
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 53.44%;
}
.div22,
.div23,
.div24,
.div25,
.div26 {
  left: 62.46%;
}
.div23,
.div24,
.div25,
.div26 {
  left: 71.39%;
}
.div24,
.div25,
.div26 {
  left: 80.41%;
}
.div25,
.div26 {
  left: 89.78%;
}
.div26 {
  left: 98.54%;
}
.group41 {
  height: 4.17%;
  width: 84.1%;
  top: 87.5%;
  right: 4.41%;
  bottom: 8.33%;
  left: 11.49%;
  overflow: hidden;
}
.div27,
.div28,
.group41 {
  position: absolute;
}
.div27 {
  top: calc(50% + 88.5px);
  left: 0;
  line-height: 15px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.div28 {
  top: calc(50% + 40.5px);
}
.div28,
.div29,
.div30 {
  left: 0;
  line-height: 15px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.div29 {
  position: absolute;
  top: calc(50% - 7.5px);
}
.div30 {
  top: calc(50% - 55.5px);
}
.div30,
.div31,
.group42 {
  position: absolute;
}
.div31 {
  top: calc(50% - 103.5px);
  left: 0;
  line-height: 15px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.group42 {
  height: 57.5%;
  width: 2.89%;
  top: 30%;
  right: 92.77%;
  bottom: 12.5%;
  left: 4.34%;
  overflow: hidden;
  text-align: left;
}
.group-icon,
.lines-icon {
  position: absolute;
  height: 64.17%;
  width: 84.39%;
  top: 21.94%;
  right: 4.19%;
  bottom: 13.89%;
  left: 11.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  height: 24.72%;
  width: 1.73%;
  top: 61.39%;
  right: 49.28%;
  left: 48.99%;
}
.card-1,
.icons-more-horizontal2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icons-more-horizontal2 {
  width: 3.8%;
  left: 96.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.color-icon5 {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: 0;
  max-height: 100%;
  width: 14px;
}
.text59 {
  position: absolute;
  top: calc(50% - 10px);
  left: 20px;
  line-height: 20px;
}
.elements-info5,
.elements-info6,
.elements-info7 {
  position: absolute;
  height: 83.33%;
  width: 10.44%;
  top: 8.33%;
  right: 56.49%;
  bottom: 8.33%;
  left: 33.07%;
}
.elements-info6,
.elements-info7 {
  width: 13.29%;
  right: 70.09%;
  left: 16.61%;
}
.elements-info7 {
  width: 13.45%;
  right: 86.55%;
  left: 0;
}
.icons-more-horizontal-parent {
  position: absolute;
  height: 6.67%;
  width: 91.33%;
  top: 8.33%;
  right: 4.34%;
  bottom: 85%;
  left: 4.34%;
  text-align: left;
  font-size: var(--h4-size);
}
.elements-widgets-widget-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 692px;
  height: 360px;
}
.text62 {
  position: absolute;
  width: 86.13%;
  top: 80.56%;
  left: 4.34%;
  line-height: 20px;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.elements-oval1,
.oval-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.oval-icon {
  width: 85.79%;
  top: 100%;
  right: 0.08%;
  bottom: -100%;
  left: 14.13%;
}
.div32 {
  position: absolute;
  top: calc(50% - 13px);
  left: 34.92%;
}
.sharts-charts-1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.div33,
.sharts,
.sharts-charts-1 {
  position: absolute;
}
.sharts {
  height: 35%;
  width: 18.21%;
  top: 35.83%;
  right: 9.54%;
  bottom: 29.17%;
  left: 72.25%;
  text-align: center;
  font-size: var(--h3-size);
}
.div33 {
  top: calc(50% - 13px);
  left: 36.51%;
}
.oval-icon2 {
  height: 53.33%;
  width: 53.57%;
  top: 53.33%;
  right: 0.08%;
  bottom: -6.67%;
  left: 46.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div34,
.oval-icon2,
.sharts1 {
  position: absolute;
}
.sharts1 {
  height: 35%;
  width: 18.21%;
  top: 35.83%;
  right: 32.08%;
  bottom: 29.17%;
  left: 49.71%;
  text-align: center;
  font-size: var(--h3-size);
}
.div34 {
  top: calc(50% - 13px);
  left: 34.13%;
}
.oval-icon4 {
  position: absolute;
  height: 97.54%;
  width: 53.57%;
  top: 97.54%;
  right: 0.08%;
  bottom: -95.08%;
  left: 46.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sharts2,
.sharts3 {
  position: absolute;
  height: 35%;
  width: 18.21%;
  top: 35.83%;
  right: 54.62%;
  bottom: 29.17%;
  left: 27.17%;
  text-align: center;
  font-size: var(--h3-size);
}
.sharts3 {
  right: 77.17%;
  left: 4.62%;
}
.elements-info10,
.elements-info11,
.elements-info8,
.elements-info9 {
  position: absolute;
  height: 5.56%;
  width: 9.54%;
  top: 19.17%;
  right: 43.21%;
  bottom: 75.28%;
  left: 47.25%;
}
.elements-info10,
.elements-info11,
.elements-info9 {
  width: 12.14%;
  right: 68.06%;
  left: 19.8%;
}
.elements-info10,
.elements-info11 {
  width: 9.54%;
  right: 55.64%;
  left: 34.83%;
}
.elements-info11 {
  width: 12.28%;
  right: 83.09%;
  left: 4.62%;
}
.icons-more-horizontal3 {
  position: absolute;
  height: 6.67%;
  width: 3.47%;
  top: 9.17%;
  right: 4.34%;
  bottom: 84.17%;
  left: 92.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.title18 {
  position: absolute;
  top: calc(50% - 150px);
  left: 4.34%;
  font-size: var(--h2-size);
  font-weight: 500;
}
.elements-widgets-widget-14,
.statistics1 {
  position: absolute;
  top: 0;
  left: 732px;
  width: 692px;
  height: 360px;
  text-align: left;
  font-size: var(--h4-size);
}
.statistics1 {
  top: 600px;
  left: 136px;
  width: 1424px;
  text-align: center;
  font-size: var(--h5-size);
}
.be-single-minded {
  position: absolute;
  top: calc(50% - 41px);
  left: 0;
  font-weight: 500;
}
.every-large-design {
  position: absolute;
  width: 103.07%;
  top: 75.61%;
  left: 0;
  font-size: var(--h4-size);
  line-height: 20px;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.text67 {
  position: absolute;
  top: 90px;
  left: 136px;
  width: 456px;
  height: 82px;
  overflow: hidden;
  font-size: var(--h1-size);
}
.elements-info12,
.elements-info13,
.elements-info14 {
  position: absolute;
  height: 5.56%;
  width: 22.7%;
  top: 86.11%;
  right: 68.1%;
  bottom: 8.33%;
  left: 9.2%;
}
.elements-info13,
.elements-info14 {
  width: 19.33%;
  right: 42.64%;
  left: 38.04%;
}
.elements-info14 {
  right: 17.18%;
  left: 63.5%;
}
.icons-more-horizontal4,
.widget-inner {
  position: absolute;
  height: 53.89%;
  width: 59.51%;
  top: 19.44%;
  right: 20.25%;
  bottom: 26.67%;
  left: 20.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icons-more-horizontal4 {
  height: 6.67%;
  width: 7.36%;
  top: 9.17%;
  right: 9.2%;
  bottom: 84.17%;
  left: 83.44%;
  opacity: 0.2;
}
.text71 {
  position: absolute;
  top: calc(50% - 150px);
  left: 9.2%;
  font-size: var(--h2-size);
  font-weight: 500;
}
.elements-info15,
.widget2 {
  position: absolute;
  top: 200px;
  left: 136px;
  width: 326px;
  height: 360px;
}
.elements-info15 {
  height: 5.56%;
  width: 22.7%;
  top: 19.17%;
  right: 68.1%;
  bottom: 75.28%;
  left: 9.2%;
}
.rectangle6,
.rectangle7,
.rectangle8 {
  position: absolute;
  height: 42.78%;
  width: 3.99%;
  top: 48.89%;
  right: 86.81%;
  bottom: 8.33%;
  left: 9.2%;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
}
.rectangle7,
.rectangle8 {
  height: 60.56%;
  top: 31.11%;
  right: 79.75%;
  left: 16.26%;
}
.rectangle8 {
  height: 35.28%;
  top: 56.39%;
  right: 72.7%;
  left: 23.31%;
}
.rectangle10,
.rectangle11,
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17,
.rectangle9 {
  position: absolute;
  height: 44.72%;
  width: 3.99%;
  top: 46.94%;
  right: 65.64%;
  bottom: 8.33%;
  left: 30.37%;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
}
.rectangle10,
.rectangle11,
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 56.94%;
  top: 34.72%;
  right: 58.59%;
  left: 37.42%;
}
.rectangle11,
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 26.11%;
  top: 65.56%;
  right: 51.53%;
  left: 44.48%;
}
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 64.44%;
  top: 27.22%;
  right: 44.48%;
  left: 51.53%;
}
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 51.39%;
  top: 40.28%;
  right: 37.42%;
  left: 58.59%;
}
.rectangle14,
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 40.28%;
  top: 51.39%;
  right: 30.37%;
  left: 65.64%;
}
.rectangle15,
.rectangle16,
.rectangle17 {
  height: 57.5%;
  top: 34.17%;
  right: 23.31%;
  left: 72.7%;
}
.rectangle16,
.rectangle17 {
  height: 34.72%;
  top: 56.94%;
  right: 16.26%;
  left: 79.75%;
}
.rectangle17 {
  height: 61.67%;
  top: 30%;
  right: 9.2%;
  left: 86.81%;
}
.widget-child1,
.widget3 {
  position: absolute;
  top: 200px;
  left: 502px;
  width: 326px;
  height: 360px;
}
.widget-child1 {
  height: 60.83%;
  width: 80.98%;
  top: 30.83%;
  right: 9.2%;
  bottom: 8.33%;
  left: 9.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.elements-info16,
.elements-info17 {
  position: absolute;
  height: 5.56%;
  width: 22.7%;
  top: 19.17%;
  right: 67.48%;
  bottom: 75.28%;
  left: 9.82%;
}
.elements-info17 {
  width: 19.33%;
  right: 42.02%;
  left: 38.65%;
}
.widget4 {
  position: absolute;
  top: 200px;
  left: 868px;
  background-color: #006e03;
  width: 326px;
  height: 360px;
}
.div36,
.div37,
.div38,
.div39,
.div40,
.div41,
.div42 {
  position: absolute;
  top: calc(50% + 140px);
  left: 9.2%;
  line-height: 20px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.div37,
.div38,
.div39,
.div40,
.div41,
.div42 {
  left: 20.86%;
}
.div38,
.div39,
.div40,
.div41,
.div42 {
  left: 33.44%;
}
.div39,
.div40,
.div41,
.div42 {
  left: 46.32%;
}
.div40,
.div41,
.div42 {
  left: 59.2%;
}
.div41,
.div42 {
  left: 72.39%;
}
.div42 {
  left: 85.28%;
}
.group-icon1 {
  position: absolute;
  height: 39.58%;
  width: 100%;
  top: 38.89%;
  right: 0;
  bottom: 21.53%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.elements-info18 {
  position: absolute;
  height: 5.56%;
  width: 22.7%;
  top: 29.17%;
  right: 68.1%;
  bottom: 65.28%;
  left: 9.2%;
}
.elements-info19,
.elements-info20 {
  position: absolute;
  height: 5.56%;
  width: 19.33%;
  top: 19.17%;
  right: 42.64%;
  bottom: 75.28%;
  left: 38.04%;
}
.elements-info20 {
  right: 17.18%;
  left: 63.5%;
}
.icons-more-horizontal7 {
  position: absolute;
  height: 6.67%;
  width: 7.36%;
  top: 9.17%;
  right: 9.2%;
  bottom: 84.17%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.widget5 {
  position: absolute;
  top: 200px;
  left: 1234px;
  width: 326px;
  height: 360px;
}
.left-arrow-icon,
.left-arrow-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.left-arrow-icon1 {
  left: 32px;
  object-fit: contain;
}
.left-arrow-parent {
  position: absolute;
  top: 46px;
  left: 133px;
  width: 57px;
  height: 25px;
  cursor: pointer;
}
.users-icon4 {
  position: absolute;
  top: 35px;
  left: 1350px;
  width: 200px;
  height: 46px;
}
.logo-removebg-preview-5-icon {
  position: absolute;
  top: 37px;
  left: 13px;
  width: 64px;
  height: 34px;
  object-fit: cover;
  cursor: pointer;
}
.elements-image5 {
  position: absolute;
  top: 312px;
  left: 886px;
  width: 283px;
  height: 222px;
  object-fit: cover;
}
.raymond-griffin13 {
  position: absolute;
  top: calc(50% - 456px);
  left: 13.19%;
  font-size: var(--h2-size);
  font-weight: 500;
}
.icon-32,
.icon-53,
.icon-81 {
  position: absolute;
  height: 2.6%;
  width: 1.63%;
  right: 96.19%;
  left: 2.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-32 {
  top: 33.4%;
  bottom: 64%;
  opacity: 0.2;
}
.icon-53,
.icon-81 {
  object-fit: cover;
}
.icon-53 {
  top: 52.6%;
  bottom: 44.8%;
  opacity: 0.2;
}
.icon-81 {
  top: 71.8%;
  bottom: 25.6%;
}
.data-metrics-2 {
  position: relative;
  background-color: var(--colors-grey-1);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--colors-black-100);
  font-family: var(--h1);
}
